<div class="modal-header">
    <h5 class="modal-title">Add New Team</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="teamForm" novalidate>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Team Name</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="team_name" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!createTeamInProgress"
        (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="createTeamInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!createTeamInProgress" (click)="addTeam()"
        [disabled]="teamForm.invalid">Add</button>
</div>