<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Track My Team</h3>
                        <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="getDataInProgress"></div>
                    </div>
                    <div class="card-toolbar">
                        <div class="form-group row n-m-b middle-label">
                            <div class="col-lg-8">
                                Show only KPI Events
                            </div>
                            <div class="col-lg-4">
                                <span class="switch switch-outline switch-icon switch-success">
                                    <label>
                                        <input type="checkbox" [checked]="kpiEventsEnabled"
                                            (change)="toggleKPIEvents($event)" />
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <div class="table-wrapper" *ngIf="!kpiEventsEnabled">
                        <table class="table table-bordered table-hover table-checkable" id="logsTable" style="margin-top: 13px !important">
                            <thead>
                                <tr>
                                    <th data-col-org="0">ID</th>
                                    <th data-col-org="1">First Name</th>
                                    <th data-col-org="2">Last Name</th>
                                    <th data-col-org="3">Proxy IP</th>
                                    <th data-col-org="4">Action</th>
                                    <th data-col-org="5">URL</th>
                                    <th data-col-org="6">Title</th>
                                    <th data-col-org="7">Screenshot</th>
                                    <th data-col-org="8">Server Time</th>
                                    <th data-col-org="9">Ext. Version</th>
                                    <th data-col-org="10">RDP</th>
                                    <th data-col-org="11">Custom KPI</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--end: Datatable-->
                    <!--begin: Datatable-->
                    <div class="table-wrapper" *ngIf="kpiEventsEnabled">
                        <table class="table table-bordered table-hover table-checkable table-vertical-center" id="kpiLogsTable" style="margin-top: 13px !important">
                            <thead>
                                <tr>
                                    <th data-col-org="0">ID</th>
                                    <th data-col-org="1">First Name</th>
                                    <th data-col-org="2">Last Name</th>
                                    <th data-col-org="3">Proxy IP</th>
                                    <th data-col-org="4">Action</th>
                                    <th data-col-org="5">Website</th>
                                    <th data-col-org="6">Title</th>
                                    <th data-col-org="7">Screenshot</th>
                                    <th data-col-org="8">Server Time</th>
                                    <th data-col-org="9">Custom KPI</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--end: Datatable-->
                </div>
            </ng-container>
        </div>
    </div>
</div>