#logsTable {
    thead {
        tr {
            th {
                white-space: nowrap;
            }
        }
    }
}

.n-m-b {
    margin-bottom: 0;
}

.middle-label {
    line-height: 34px;
}

.filter-container {
    margin-bottom: 15px;
}

.filter-button {
    margin-top: 29px;
}

.reset-button {
    margin-left: 15px;
}

.align-center {
    text-align: center;
}

.custom-kpi-button {
    white-space: nowrap;

    &.btn-warning {
        color: #fff;
    }
}

.table-wrapper {
    overflow-x: auto;
}

:host {
  ::ng-deep {

    .va-name {
            vertical-align: top;
            padding-top: 17px;
            display: inline-block;
    }

    .txtSearch, .txtKPISearch {
        min-width: 50px;

        &.hidden {
            display: none;
        }
    }

    .site-favicon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    #logsTable_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .pagination {
        margin: 0;
        float: right !important;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item {
        margin-left: 0.4rem;
    }

    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
        outline: none !important;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 2.25rem;
        min-width: 2.25rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 500;
        border-radius: 0.42rem;
        border: 0;
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        color: #7E8299;
        background-color: transparent;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link > i {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        font-size: 0.7rem;
        text-align: center;
        display: inline-block;
        color: #7E8299;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        background-color: #F3F6F9;
        color: #7E8299;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link:hover {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        background-color: #3699FF;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link:hover > i {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        background-color: #3699FF;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link > i {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        background-color: #3699FF;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link > i {
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
        color: #ffffff;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item.disabled > .page-link {
        opacity: 0.6;
    }
    .dataTables_wrapper .dataTables_pager {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        /* fix */
        position: relative;
        z-index: 1;
        /* fix */
    }
    .dataTables_wrapper .dataTables_pager .dataTables_info {
        display: inline-block;
        margin: 0.5rem 0;
        margin-right: 0.5rem;
        color: #7E8299;
    }
    .dataTables_wrapper .dataTables_pager .dataTables_length {
        margin: 0.5rem 0;
        margin-right: 1rem;
        display: inline-block;
    }
    .dataTables_wrapper .dataTables_pager .dataTables_length label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        color: #7E8299;
    }
    .dataTables_wrapper .dataTables_pager .dataTables_length .custom-select {
        margin-left: 0.5rem;
        height: 2.25rem;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .dataTables_wrapper .dataTables_pager .dataTables_paginate {
        margin: 0.5rem 0;
    }
    .dataTables_wrapper .dataTables_pager .dataTables_paginate .pagination {
        margin: 0;
    }
    .dataTables_wrapper .text-right .dataTables_filter,
    .dataTables_wrapper .text-left .dataTables_filter {
        display: inline-block;
    }
    @media (max-width: 991.98px) {
        .dataTables_wrapper .dataTables_pager {
            margin-top: 1rem;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    @media (max-width: 767.98px) {
        .dataTables_wrapper .dataTables_paginate {
            margin-left: 0 !important;
        }
        .dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child {
            margin-left: 0 !important;
        }
    }
  }
}

table {
    tr {
        td {
            vertical-align: middle;
        }
    }
}