<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Custom KPI Event</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="kpiNameForm" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Action</label>
                    <input type="text" class="form-control" formControlName="custom_kpi_action" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Custom KPI Name</label>
                    <input type="text" class="form-control" formControlName="custom_kpi_name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Page URL</label>
                    <input type="text" class="form-control" formControlName="custom_kpi_url" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Page Title</label>
                    <input type="text" class="form-control" formControlName="custom_kpi_page_title" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!saveInProgress"
        (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="saveInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!saveInProgress" (click)="saveCustomKPIEvent()"
        [disabled]="kpiNameForm.invalid">Save</button>
</div>