<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Team Activity Average</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <!-- Column chart -->
        <div id="chart_2"></div>
        <!-- /Column chart -->
    </div>
</div>