<div class="card card-custom card-stretch gutter-b">
    <app-widget-blocker-common></app-widget-blocker-common>
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Time Spent Per KPI</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2 pb-0 mt-n3">
        <div class="tab-content mt-5" id="myTabTables1">
            <!--begin::Tap pane-->
            <div class="tab-pane fade show active" id="kt_tab_pane_1_3" role="tabpanel"
                aria-labelledby="kt_tab_pane_1_3">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                            <tr>
                                <th class="p-0 w-50px"></th>
                                <th class="p-0 min-w-200px"></th>
                                <th class="p-0 min-w-100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <!-- <img src="../../../../../../../assets/media/svg/avatars/001-boy.svg"
                                                class="h-75 align-self-end" alt=""> -->
                                        </span>
                                    </div>
                                </td>
                                <td class="pl-0">
                                    <span class="text-dark font-weight-bolder mb-1 font-size-lg">Non-KPI</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">1:07</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 65%;"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <!-- <img src="../../../../../../../assets/media/svg/avatars/043-boy-18.svg" class="h-75 align-self-end" alt=""> -->
                                        </span>
                                    </div>
                                </th>
                                <td class="pl-0">
                                    <span class="text-dark font-weight-bolder mb-1 font-size-lg">Listing Items</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">4:09</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 83%;"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <!-- <img src="../../../../../../../assets/media/svg/avatars/018-girl-9.svg" class="h-75 align-self-end" alt=""> -->
                                        </span>
                                    </div>
                                </th>
                                <td class="pl-0">
                                    <span class="text-dark font-weight-bolder mb-1 font-size-lg">Messages</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">0:43</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 47%;"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <!-- <img src="../../../../../../../assets/media/svg/avatars/047-girl-25.svg" class="h-75 align-self-end" alt=""> -->
                                        </span>
                                    </div>
                                </th>
                                <td class="py-6 pl-0">
                                    <span class="text-dark font-weight-bolder mb-1 font-size-lg">Cases</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">0:29</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 31%;"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <!-- <img src="../../../../../../../assets/media/svg/avatars/014-girl-7.svg" class="h-75 align-self-end" alt=""> -->
                                        </span>
                                    </div>
                                </th>
                                <td class="pl-0">
                                    <span class="text-dark font-weight-bolder mb-1 font-size-lg">Market Research</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">2:00</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
        </div>
    </div>
</div>