<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Delete Team</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete this Team?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!deleteTeamInProgress"
        (click)="closeModal()">Cancel</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="deleteTeamInProgress"></div>
    <button type="button" class="btn btn-danger font-weight-bold" *ngIf="!deleteTeamInProgress"
        (click)="deleteTeam()">Delete</button>
</div>