<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Cost Per Employee</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <!-- Column chart -->
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <div *ngIf="isError">There was a problem completing the request. Please, try later.</div>
        <div class="no-data" *ngIf="data?.length === 0 && !getDataInProgress && !isError || noData">No data.</div>
        <div id="costPerEmployeeChart" *ngIf="data.length > 0 && !getDataInProgress && !isError"></div>
        <!-- /Column chart -->
    </div>
</div>