<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Change User's Password</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="passwordForm" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" formControlName="password" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Repeat New Password</label>
                    <input type="password" class="form-control" formControlName="repeat_password" />
                </div>
            </div>
        </div>
    </form>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!savePasswordInProgress" (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="savePasswordInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!savePasswordInProgress" (click)="changeUserPassword()" [disabled]="passwordForm.invalid">Save</button>
</div>