<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="getDataInProgress"></div>
            <ng-container *ngIf="!getDataInProgress">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Custom KPI-s</h3>
                    </div>
                    <div class="card-toolbar">

                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="!getDataInProgress && kpis.length === 0">No Custom KPI-s are currently set.</div>
                    <div class="table-wrapper" *ngIf="kpis.length > 0">
                        <table class="table table-hover custom-kpis-table" #mf="mfDataTable" [mfData]="kpis" (mfSortOrderChange)="sortOrderChange($event)" (mfSortByChange)="sortByChange($event)" [mfRowsOnPage]="10">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th>
                                        <mfDefaultSorter by="name">KPI Name <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="action">KPI Action <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('action')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="url">KPI URL <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('url')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="title">KPI Title <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('title')"></i></mfDefaultSorter>
                                    </th>
                                    <th width="20px"></th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let kpi of mf.data; let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>
                                        {{ kpi.name }}
                                    </td>
                                    <td>
                                        {{ kpi.action }}
                                    </td>
                                    <td>
                                        {{ kpi.url }}
                                    </td>
                                    <td>
                                        {{ kpi.title }}
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2"
                                            title="Edit details" (click)="editCustomKPI(kpi)">
                                            <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path
                                                            d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                            fill="#000000" fill-rule="nonzero"
                                                            transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                                        </path>
                                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15"
                                                            height="2" rx="1"></rect>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon" title="Delete"
                                            (click)="deleteCustomKPI(kpi)">
                                            <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path
                                                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                            fill="#000000" fill-rule="nonzero"></path>
                                                        <path
                                                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                            fill="#000000" opacity="0.3"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>