ul {
    margin-top: 10px;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    margin-top: 47px;

    li {
        display: block;
        flex: 0 1 auto;
        position: relative;
        text-align: center;

        &:nth-child(1) {
            h3 {
                color: #1BC5BD;
            }
        }
        &:nth-child(2) {
            h3 {
                color: #cccccc;
            }
        }
        &:nth-child(3) {
            h3 {
                color: #FFA800;
            }
        }
    }
}

:host {
    ::ng-deep {
        .apexcharts-canvas {
            margin: 0 auto;
        }
    }
}