<select class="form-control form-control-sm" (change)="selectTeam($event)">
    <option value="">No Team</option>
    <option [value]="team.id" [selected]="selectedTeam === team.id" *ngFor="let team of teams">{{ team.team_name }}</option>
</select>