<select class="form-control form-control-sm employees-select" (change)="changeSelectedEmployeeFromSelect($event)">
    <option value="1">All VA-s</option>
    <option [value]="employee.id" *ngFor="let employee of employees">{{ employee.first_name }} {{ employee.last_name }}
    </option>
</select>