<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="getUsersInProgress"></div>
            <ng-container *ngIf="!getUsersInProgress">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Users</h3>
                    </div>
                    <div class="card-toolbar">
                        <span *ngIf="common.isManager()">{{ usersReserve.length }} out of {{ numberOfSeats }} user seats are filled</span>
                        <button type="button" class="btn btn-secondary mr-2 add-users-button" *ngIf="common.isAdmin() || (common.isManager() && usersReserve.length < numberOfSeats) && !getUsersInProgress" (click)="openAddNewUserModal()">Add New
                            User</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="filter-form" [hidden]="getUsersInProgress || usersReserve.length === 0">
                        <form [formGroup]="filterForm">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="">E-mail</label>
                                        <input type="text" class="form-control" formControlName="email" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" formControlName="name" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="">Surname</label>
                                        <input type="text" class="form-control" formControlName="surname" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-sm btn-success mr-2 filter-button" (click)="performFiltering()">Apply</button>
                                    <button type="button" class="btn btn-sm btn-secondary mr-2 filter-button" *ngIf="filterApplied" (click)="resetFiltering()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="!getUsersInProgress && users.length === 0">No users.</div>
                    <div class="table-wrapper" *ngIf="users.length > 0">
                        <table class="table table-hover" #mf="mfDataTable" [mfData]="users" (mfSortOrderChange)="sortOrderChange($event)" (mfSortByChange)="sortByChange($event)" [mfRowsOnPage]="10">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="first_name">Name <i class="fa l-m-5" [ngClass]="returnSortOrderArrow('first_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="last_name">Surname <i class="fa l-m-5" [ngClass]="returnSortOrderArrow('last_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email <i class="fa l-m-5" [ngClass]="returnSortOrderArrow('email')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="user_name">Username <i class="fa l-m-5" [ngClass]="returnSortOrderArrow('user_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th *ngIf="common.isManager()">
                                        Onboarding Status
                                    </th>
                                    <th>Active</th>
                                    <th width="20px"></th>
                                    <th width="20px"></th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data;">
                                    <td>
                                        {{ user.first_name }}
                                    </td>
                                    <td>
                                        {{ user.last_name }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.user_name }}
                                    </td>
                                    <td *ngIf="common.isManager()">
                                        <span *ngIf="!user.last_log" class="label label-lg label-warning label-inline">Pending</span>
                                        <span *ngIf="user.last_log" class="label label-lg label-success label-inline">Active</span>
                                    </td>
                                    <td>
                                        <span class="switch switch-outline switch-icon switch-success">
                                            <label>
                                                <input type="checkbox" [checked]="user.is_active == 1"
                                                    (change)="changeStatus(user, $event)" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2"
                                            title="Edit details" (click)="editUser(user)">
                                            <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path
                                                            d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                            fill="#000000" fill-rule="nonzero"
                                                            transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                                        </path>
                                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15"
                                                            height="2" rx="1"></rect>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2"
                                            title="Change password" (click)="changePassword(user)">
                                            <span class="svg-icon svg-icon-md"><svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path
                                                            d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z"
                                                            fill="#000000" opacity="0.3" />
                                                        <path
                                                            d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z"
                                                            fill="#000000" />
                                                    </g>
                                                </svg></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon" title="Delete"
                                            (click)="deleteUser(user)">
                                            <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path
                                                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                            fill="#000000" fill-rule="nonzero"></path>
                                                        <path
                                                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                            fill="#000000" opacity="0.3"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>