<div class="d-flex flex-row mb-20p" *ngIf="user$ | async as _user">
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Body-->
            <div class="card-body pt-4">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end">
                    
                </div>
                <!--end::Toolbar-->
                <!--begin::User-->
                <div class="d-flex align-items-center mt-15p">
                    <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                        <div class="symbol-label" *ngIf="!_user.avatar" style="background-image:url('../../../assets/media/users/blank.png')"></div>
                        <div class="symbol-label" *ngIf="_user.avatar" style="background-image:url('{{ imageReSaved ? avatar : _user.avatar }}')"></div>
                    </div>
                    <div>
                        <span class="font-weight-bolder font-size-h5 text-dark-75">{{ _user.firstName }} {{ _user.lastName }}</span>
                    </div>
                </div>
                <!--end::User-->
                <!--begin::Contact-->
                <div class="py-9">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Email:</span>
                        <a href="#" class="text-muted text-hover-primary">{{ _user.email }}</a>
                    </div>
                    <!-- <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Phone:</span>
                        <span class="text-muted">44(76)34254578</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="font-weight-bold mr-2">Location:</span>
                        <span class="text-muted">Melbourne</span>
                    </div> -->
                </div>
                <!--end::Contact-->
                <!--begin::Nav-->
                <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                    <div class="navi-item mb-2">
                        <a href="javascript:;" (click)="setSectionActive('account-info')"
                            class="navi-link py-4" [ngClass]="activeSection === 'account-info' ? 'active' : ''">
                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Code/Compiling.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path
                                                d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                                                fill="#000000" opacity="0.3"></path>
                                            <path
                                                d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                                                fill="#000000"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Account Information</span>
                        </a>
                    </div>
                    <div class="navi-item mb-2">
                        <a href="javascript:;" (click)="setSectionActive('change-password')"
                            class="navi-link py-4" [ngClass]="activeSection === 'change-password' ? 'active' : ''">
                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Shield-user.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path
                                                d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                                                fill="#000000" opacity="0.3"></path>
                                            <path
                                                d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
                                                fill="#000000" opacity="0.3"></path>
                                            <path
                                                d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                                                fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Change Password</span>
                        </a>
                    </div>
                    <div class="navi-item mb-2" *ngIf="common.isManager() && shouldShow">
                        <div class="row">
                            <div class="col-lg-6 demo-mode-label">
                                Demo mode
                            </div>
                            <div class="col-lg-6">
                                <span class="switch switch-outline switch-icon switch-success float-right">
                                    <label>
                                        <input type="checkbox" [checked]="isDemoServiceOn" (change)="toggleDemoMode($event)" />
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="navi-item mb-2" *ngIf="common.isVA()">
                        <a href="javascript:;"  (click)="setSectionActive('payment-info')" class="navi-link py-4"  [ngClass]="activeSection === 'payment-info' ? 'active' : ''">
                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <rect fill="#000000" x="2" y="5" width="19" height="4" rx="1"></rect>
                                            <rect fill="#000000" opacity="0.3" x="2" y="11" width="19" height="10"
                                                rx="1"></rect>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Payment Information</span>
                        </a>
                    </div>
                </div>
                <!--end::Nav-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <!-- begin::Personal information-->
        <div class="card card-custom card-stretch" *ngIf="activeSection === 'account-info'">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Personal Information</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal informaiton</span>
                </div>
                <div class="card-toolbar">
                    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="saveUserDatainProgress"></div>
                    <button type="reset" class="btn btn-success mr-2" *ngIf="!saveUserDatainProgress" (click)="processInfoSave()" [disabled]="userForm.invalid">Save Changes</button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form" [formGroup]="userForm" novalidate *ngIf="!getUserInProgress">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mb-6">Customer Info</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="image-input image-input-outline image-input-empty" id="kt_profile_avatar"
                                style="background-image: url(../../../assets/media/users/blank.png)">
                                <div class="image-input-wrapper" style="background-image: url('{{ avatar || _user.avatar }}')">
                                </div>
                                <label
                                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="change" data-toggle="tooltip" title=""
                                    data-original-title="Change avatar">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input type="file" name="profile_avatar" (change)="selectAvatar($event)" accept=".png, .jpg, .jpeg">
                                    <input type="hidden" name="profile_avatar_remove" value="1">
                                </label>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="cancel" data-toggle="tooltip" title=""
                                    data-original-title="Cancel avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow remove-avatar-button" (click)="removeAvatar()" *ngIf="avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow remove-avatar-button"
                                    (click)="deleteProfileImage()" *ngIf="!avatar && _user.avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" [ngModel]="_user.firstName" formControlName="name" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" [ngModel]="_user.lastName" formControlName="surname" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Username</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" [ngModel]="_user.userName" formControlName="username" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="text" class="form-control form-control-lg form-control-solid" [ngModel]="_user.email" formControlName="email" readonly disabled placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="common.isVA()">
                        <label class="col-xl-3 col-lg-3 col-form-label">Daily Start</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Hour</label>
                                        <select class="form-control" formControlName="hour">
                                            <option *ngFor="let hour of constants.HOURS" [value]="hour">{{ hour }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Minutes</label>
                                        <select class="form-control" formControlName="minutes">
                                            <option *ngFor="let minutes of constants.MINUTES" [value]="minutes">{{ minutes }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>AM/PM</label>
                                        <select class="form-control" formControlName="ampm">
                                            <option *ngFor="let ampm of constants.AMPM" [value]="ampm">{{ ampm }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </form>
            <!--end::Form-->
        </div>
        <!-- end::Personal information-->
        <!-- begin::Change password -->
        <div class="card card-custom card-stretch" *ngIf="activeSection === 'change-password'">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Change your Password</span>
                </div>
                <div class="card-toolbar">
                    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="savePasswordInProgress"></div>
                    <button type="reset" class="btn btn-success mr-2" *ngIf="!saveUserDatainProgress" (click)="saveUserData()"
                        [disabled]="passwordForm.invalid">Save Changes</button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form" [formGroup]="passwordForm" novalidate>
                <!--begin::Body-->
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Old Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" formControlName="old_password" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" formControlName="password" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Repeat Password</label>
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" formControlName="repeat_password" type="password">
                        </div>
                    </div>
                    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
                </div>
                <!--end::Body-->
            </form>
            <!--end::Form-->
        </div>
        <!-- end::Change password -->
        <!-- begin::Payment information-->
        <div class="card card-custom card-stretch" *ngIf="activeSection === 'payment-info'">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Payment Information</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal informaiton</span>
                </div>
                <div class="card-toolbar">
                    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="saveUserDatainProgress"></div>
                    <button type="reset" class="btn btn-success mr-2" *ngIf="!saveUserDatainProgress" (click)="saveUserData()"
                        [disabled]="userForm.invalid">Save Changes</button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form" [formGroup]="paymentInformationForm" novalidate *ngIf="!getUserInProgress">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mb-6">Address</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Country</label>
                        <div class="col-lg-9 col-xl-6">
                            <select class="form-control">
                                <option value="">Select Country</option>
                                <option *ngFor="let country of countries" value="{{ country.code }}">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Address</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="address" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">City</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="city" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">ZIP</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="zip" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Phone</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="phone" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Business Number</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="business_number" />
                        </div>
                    </div>
                    <div class="separator separator-dashed my-5"></div>
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mb-6">Correspondent Bank</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Bank</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="correspondent_bank" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">SWIFT</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="correspondent_bank_swift" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Account</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="correspondent_bank_account" />
                        </div>
                    </div>
                    <div class="separator separator-dashed my-5"></div>
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mb-6">Beneficiary Bank</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Bank</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="beneficiary_bank" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Bank Address</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="beneficiary_bank_address" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">SWIFT</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="beneficiary_bank_swift" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Account</label>
                        <div class="col-lg-9 col-xl-6">
                            <input type="text" class="form-control" formControlName="beneficiary_account" />
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </form>
            <!--end::Form-->
        </div>
        <!-- end::Payment information-->
    </div>
    <!--end::Content-->
</div>