.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.avatar-wrapper {
    margin-top: 15px;

    img {
        width: 100%;
    }
}

.mt-15p {
    margin-top: 15px;
}

.remove-avatar-button {
    position: absolute;
    right: -10px;
    bottom: -5px;
}

.mb-20p {
    margin-bottom: 20px;
}

.demo-mode-label {
    margin-top: 7px;
}
