<div class="modal-header">
    <h5 class="modal-title">Manage Widgets</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6" *ngFor="let widget of widgetsPerSection">
            <div class="form-group">
                <div class="checkbox-list">
                    <label class="checkbox"><input type="checkbox" [checked]="selectedToShow(widget.key)" (change)="toggleWidgetInList($event, widget.key)"><span></span>{{ widget.label }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary font-weight-bold" (click)="save()">Save</button>
</div>