.user-selection-control {
    margin-bottom: 15px;
}

.team-selector-container {
    margin-top: 15px;

    label {
        margin-top: 7px;
        font-weight: 500;
    }
}

.card.card-custom > .card-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card.card-custom > .card-body.n-b-p {
    padding-bottom: 0;
}

.productivity-section {
    .mt-6 {
        margin-top: 1.15rem !important;
    }
}

.stats {
    font-family: 'Roboto';
}

.symbol {
    &.symbol-45 {
        .symbol-label {
            width: auto;
            height: 30px;
            padding: 0 10px;
        }
    }
}

.comparison {
    opacity: .7;
    font-size: 15px;
    
    &.down {
        color: #f12559;
    }

    &.up {
        color: #00ed96;
    }

    i {
        color: inherit;
    }
}

.card-spacer.dashboard-widget-tile {
    padding: 1rem 1.25rem !important;
}