<div class="row productivity-section">
    <div class="col-xl-8">
        <div class="card card-custom gutter-b example example-compact">
            <!-- <div class="spinner spinner-primary spinner-lg mr-15"></div> -->
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Statistics</h3>
                    </div>
                    <div class="card-toolbar">
                        <app-pages-date-picker (emitDateChange)="dateChanged($event)"></app-pages-date-picker>
                    </div>
                </div>
                <div class="card-body" [ngClass]="productivityStatistics.length > 0 ? 'n-b-p' : ''">
                    <div *ngIf="!getProductivityStatisticsInProgress && productivityStatistics.length === 0">No data.</div>
                    <div class="row loader-row mb-10" *ngIf="getProductivityStatisticsInProgress">
                        <div class="col-lg-12">
                            <div class="spinner spinner-primary spinner-lg mr-10"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6" *ngFor="let kpi of productivityStatistics; let i = index;">
                            <!--begin::Stats Widget 26-->
                            <div class="card card-custom bg-light-{{ returnColourCode(i) }} card-stretch gutter-b">
                                <!--begin::ody-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-{{ returnColourCode(i) }}">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Group.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path
                                                    d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                                    fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                <path
                                                    d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                                    fill="#000000" fill-rule="nonzero"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span
                                        class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">{{ kpi.value }}</span>
                                    <span class="font-weight-boldfont-size-sm">{{ kpi.kpi_name }}</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 26-->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
    <div class="col-xl-4">
        <div class="flex-row-auto offcanvas-mobile w-300px w-xl-350px" id="kt_profile_aside">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body pt-4">
                    <!-- <div>No Employees yet.</div> -->
                    <ng-container>
                        <!--begin::Toolbar-->
                        <div class="user-selection-control">
                            <app-employees-select (emitEmployeeChange)="selectEmployee($event)"></app-employees-select>
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::User-->
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                <div class="symbol-label"
                                    style="background-image:url('{{ selectedEmployee?.avatar ? selectedEmployee?.avatar : noAvatarImagePath }}')">
                                </div>
                                <!-- <i class="symbol-badge bg-success"></i> -->
                            </div>
                            <div>
                                <a href="javascript:;" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ selectedEmployee?.first_name }} {{ selectedEmployee?.last_name }}</a>
                                <div class="text-muted">{{ selectedEmployee?.position }}</div>
                            </div>
                        </div>
                        <!--end::User-->
                        <!--begin::Contact-->
                        <div class="pt-8 pb-6">
                            <div class="d-flex align-items-center justify-content-between mb-2" *ngIf="selectedEmployee?.daily_start_time">
                                <span class="font-weight-bold mr-2">Daily start:</span>
                                <span href="#" class="text-muted">{{ selectedEmployee?.daily_start_time }}</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2" *ngIf="selectedEmployee?.last_log_time">
                                <span class="font-weight-bold mr-2">Latest start:</span>
                                <span class="text-muted">{{ selectedEmployee?.last_log_time }} GMT</span>
                            </div>
                            <div class="row team-selector-container">
                                <div class="col-lg-4">
                                    <label>Team</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <app-teams-select [selectedTeam]="selectedEmployee?.team_id" (teamSelected)="selectTeam($event)"></app-teams-select>
                                    </div>
                                </div>
                            </div>
                            <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="changeUserTeamInProgress"></div>
                            <a href="javascript:;" *ngIf="!changeUserTeamInProgress && teamChanged" class="btn btn-light-success font-weight-bold py-3 px-6 mb-2 text-center btn-block" (click)="saveTeamChange()">Save Team Change</a>
                        </div>
                    </ng-container>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>

<!-- Base Metrics -->
<div class="row loader-row" *ngIf="getBaseMetricsInProgress">
    <div class="col-lg-12">
        <div class="spinner spinner-primary spinner-lg mr-10"></div>
    </div>
</div>
<div class="row" *ngIf="!getBaseMetricsInProgress">
    <div class="col-lg-3">
        <div class="card card-custom card-stretch gutter-b stats">
            <!--begin::Body-->
            <div class="card-body d-flex flex-column p-0" style="position: relative;">
                <div
                    class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
                    <div class="d-flex flex-column mr-2">
                        <span class="text-muted font-weight-bold">Worked</span>
                        <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{
                            baseMetrics?.worked.value }}</span>
                    </div>
                    <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.worked.difference)"
                        [ngClass]="definePositionOrNagative(baseMetrics?.worked.difference)">
                        <span class="symbol-label font-weight-bolder font-size-h6">
                            {{ baseMetrics?.worked.difference }}
                            <span [innerHtml]="defineArrowDirection(baseMetrics?.worked.difference)"></span>
                        </span>
                    </span>
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-custom card-stretch gutter-b stats">
            <!--begin::Body-->
            <div class="card-body d-flex flex-column p-0" style="position: relative;">
                <div
                    class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
                    <div class="d-flex flex-column mr-2">
                        <span class="text-muted font-weight-bold">Activity Average</span>
                        <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{
                            baseMetrics?.activity.value }}%</span>
                    </div>
                    <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.activity.difference)"
                        [ngClass]="definePositionOrNagative(baseMetrics?.activity.difference)">
                        <span class="symbol-label font-weight-bolder font-size-h6">
                            {{ baseMetrics?.activity.difference | number: '1.0-0' }}%
                            <span [innerHtml]="defineArrowDirection(baseMetrics?.activity.difference)"></span>
                        </span>
                    </span>
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-custom card-stretch gutter-b stats">
            <!--begin::Body-->
            <div class="card-body d-flex flex-column p-0" style="position: relative;">
                <div
                    class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
                    <div class="d-flex flex-column mr-2">
                        <span class="text-muted font-weight-bold">Total Cost</span>
                        <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{
                            baseMetrics?.totalCost.value | currency }}</span>
                    </div>
                    <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.totalCost.difference)"
                        [ngClass]="definePositionOrNagative(baseMetrics?.totalCost.difference)">
                        <span class="symbol-label font-weight-bolder font-size-h6">
                            {{ baseMetrics?.totalCost.difference }}
                            <span [innerHtml]="defineArrowDirection(baseMetrics?.totalCost.difference)"></span>
                        </span>
                    </span>
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-custom card-stretch gutter-b stats">
            <!--begin::Body-->
            <div class="card-body d-flex flex-column p-0" style="position: relative;">
                <div
                    class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
                    <div class="d-flex flex-column mr-2">
                        <span class="text-muted font-weight-bold">Non-KPI Events' Time</span>
                        <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{
                            baseMetrics?.nonKpi.value }}</span>
                    </div>
                    <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.nonKpi.difference)"
                        [ngClass]="definePositionOrNagative(baseMetrics?.nonKpi.difference)">
                        <span class="symbol-label font-weight-bolder font-size-h6">
                            {{ baseMetrics?.nonKpi.difference }}
                            <span [innerHtml]="defineArrowDirection(baseMetrics?.nonKpi.difference)"></span>
                        </span>
                    </span>
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>
<!-- /Base Metrics -->

<div class="row">
    <div class="col-lg-12">
        <app-productivity-chart [employeeId]="selectedEmployee?.id" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-productivity-chart>
    </div>
</div>
<!-- <div class="row">
    <div class="col-lg-6">
        <app-va-time-spent-per-kpi></app-va-time-spent-per-kpi>
        
    </div>
    <div class="col-lg-6">
        <app-va-top-kpi-stats></app-va-top-kpi-stats>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-6">
        <app-va-time-spent-on-sites-stats [employeeId]="selectedEmployee?.id" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-time-spent-on-sites-stats>
    </div>
    <!-- <div class="col-lg-4">
        <app-va-cost-per-kpi></app-va-cost-per-kpi>
    </div> -->
    <div class="col-lg-6">
        <app-va-latest-activity [employeeId]="selectedEmployee?.id" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-latest-activity>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <app-va-recent-activity [employeeId]="selectedEmployee?.id" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-recent-activity>
    </div>
</div>