<div class="modal-header">
    <h5 class="modal-title">Select KPI-s</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="text-wrapper">
        <p>Select up to 3 KPI-s to view the counts.</p>
    </div>
    <div class="row">
        <div class="col-lg-4" *ngFor="let kpi of kpisList">
            <div class="form-group">
                <div class="checkbox-list">
                    <label class="checkbox"><input type="checkbox" [checked]="selectedToShow(kpi)"
                            (change)="toggleWidgetInList($event, kpi)"><span></span>{{ kpi }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary font-weight-bold" (click)="save()">Save</button>
</div>