<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Latest Activity</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-4">
        <div id="vaTimeSpentOnWebsites" [hidden]="getDataInProgress || data.length === 0 || isError"></div>
        <div *ngIf="!getDataInProgress && data.length === 0 && !isError">No Data.</div>
        <div class="timeline timeline-6">
            <!--begin::Item-->
            <div class="timeline-item align-items-start" *ngFor="let kpi of data; let i = index">
                <!--begin::Label-->
                <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    {{ common.convertDateIntoLocalTimeZone(kpi.server_time) }}
                </div>
                <!--end::Label-->
        
                <!--begin::Badge-->
                <div class="timeline-badge">
                    <i class="fa fa-genderless icon-xl" [ngClass]="returnColourName(i)"></i>
                </div>
                <!--end::Badge-->
        
                <!--begin::Text-->
                <div class="font-weight-bolder text-dark-75 pl-3 font-size-lg">
                    {{ kpi.action }}
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
        </div>
    </div>
    <!--end: Card Body-->
</div>