<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <app-widget-blocker-common></app-widget-blocker-common>
            <!-- <div class="spinner spinner-primary spinner-lg mr-15"></div> -->
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Payments</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="month-selector">
                            <span class="left button">
                                <a href="javascript:;" (click)="monthSelector('previous')">
                                    <i class="ki ki-arrow-back"></i>
                                </a>
                            </span>
                            <span class="month-label">
                                {{ currentMonthDisplayName }}, {{ currentYear }}
                            </span>
                            <span class="right button" (click)="monthSelector('next')">
                                <a href="javascript:;">
                                    <i class="ki ki-arrow-next"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-pane fade active show" id="kt_tab_pane_6_1" role="tabpanel"
                        aria-labelledby="kt_tab_pane_6_1">
                        <!--begin::Table-->
                        <div class="table-responsive">
                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                                <thead>
                                    <tr class="text-left text-uppercase">
                                        <th class="min-w-150px">Invoice</th>
                                        <th class="pl-0 min-w-70px">Unpaid Shifts</th>
                                        <th class="pl-0 min-w-70px">Total</th>
                                        <th class="pl-0 min-w-70px">Paid</th>
                                        <th class="pl-0 min-w-50px">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"
                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">AC1235</a>
                                        </td>
                                        <td class="pl-0">12</td>
                                        <td class="pl-0">
                                            <span
                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">$1,200,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder text-success">$1,000,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="label label-lg label-warning label-inline">Partially Paid</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">AC1234</a>
                                        </td>
                                        <td class="pl-0">8</td>
                                        <td class="pl-0">
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$200,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder text-success">$200,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="label label-lg label-success label-inline">Paid</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">AC1233</a>
                                        </td>
                                        <td class="pl-0">9</td>
                                        <td class="pl-0">
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$100,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder">$0.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="label label-lg label-danger label-inline">Rejected</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">AC1232</a>
                                        </td>
                                        <td class="pl-0">12</td>
                                        <td class="pl-0">
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$1,200,000.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder color-">$0.00</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="label label-lg label-primary label-inline">Pending</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>