<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Alerts</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Recent Activity</span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2 pb-0 mt-n3">
        <div class="tab-content mt-5" id="myTabTables6">
            <!--begin::Tap pane-->
            <div class="row loader-row" *ngIf="getDataInProgress">
                <div class="col-lg-12">
                    <div class="spinner spinner-primary spinner-lg mr-10"></div>
                </div>
            </div>
            <div *ngIf="data.length === 0 && !getDataInProgress">No data.</div>
            <!--begin::Tap pane-->
            <div class="tab-pane fade show active" id="kt_tab_pane_6_3" role="tabpanel"
                aria-labelledby="kt_tab_pane_6_3">
                <!--begin::Table-->
                <div class="table-responsive" *ngIf="data.length > 0">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                            <tr>
                                <th class="p-0 w-50px"></th>
                                <th class="p-0 min-w-150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let alert of data">
                                <td class="pl-0">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <img src="{{ alert.avatar || constants.IMAGE_PLACEHOLDER }}"
                                                class="h-75 align-self-end" alt="">
                                            <span class="status" [ngClass]="definectActionIcon(alert.action)"></span>
                                        </span>
                                    </div>
                                </td>
                                <td class="pl-0">
                                    <span class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ alert.firstName }} {{ alert.lastName }}</span>
                                    <span class="text-muted font-weight-bold d-block">{{ definectActionLabel(alert.action) }}</span>
                                    <span class="text-muted font-weight-bold d-block">{{ common.convertDateIntoLocalTimeZone(alert.server_time) }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
        </div>
    </div>
    <!--end::Body-->
</div>