.symbol-label {
    position: relative;

    .status {
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        border: 1px solid #fff;

        &.green {
            background-color: #1BC5BD;
        }

        &.yellow {
            background-color: #FFA800;
        }
    }

}