.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    border-radius: 0.42rem;
    opacity: .5;

    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 20px;
        color: #fff;
        width: 100%;
    }
}