:host {
  width: 100%;

  .login-form-field {
    padding: 0;
    margin: 0;
  }
  
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
