<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Productivity</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <div id="productivityChart" [hidden]="getDataInProgress" style="height: 500px;"></div>
    </div>
</div>