<!-- Subheader -->
<div id="kt_subheader" class="subheader py-2 py-lg-6 subheader-solid">
  <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap container-fluid">
    <div class="d-flex align-items-center flex-wrap mr-1">
      <div class="d-flex align-items-baseline flex-wrap mr-5">
        <h5 class="text-dark font-weight-bold my-1 mr-5"> Business Insights
        </h5>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a class="btn btn-light-success btn-sm mr-2" (click)="openManageWidgetsModal()">Manage Widgets</a>
      <div class="user-selection-control">
        <app-dashboard-employees-select (emitEmployeeChange)="selectEmployee($event)"></app-dashboard-employees-select>
      </div>
      <app-date-picker (emitDateChange)="dateChanged($event)"></app-date-picker>
    </div>
  </div>
</div>
<!-- / Subheader -->
<div class="row">
  <div class="col-lg-4 col-xxl-4"
    [ngClass]="defineClasses(['time_invested_in_each_kpi', 'time_spent_per_kpi', 'cost_per_kpi'])"
    *ngIf="isWidgetSelectedToBeShown('time_invested_in_each_kpi')">
    <app-time-spent-on-sites-stats [employeeId]="selectedEmployeeId" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-time-spent-on-sites-stats>
  </div>
  <div class="col-lg-4 col-xxl-4"
    [ngClass]="defineClasses(['time_invested_in_each_kpi', 'time_spent_per_kpi', 'cost_per_kpi'])"
    *ngIf="isWidgetSelectedToBeShown('time_spent_per_kpi')">
    <app-time-spent-per-kpis [employeeId]="selectedEmployeeId" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-time-spent-per-kpis>
  </div>
  <div class="col-lg-4 col-xxl-4" [ngClass]="defineClasses(['time_invested_in_each_kpi', 'time_spent_per_kpi', 'cost_per_kpi'])"
    *ngIf="isWidgetSelectedToBeShown('cost_per_kpi')">
    <app-cost-per-kpi [employeeId]="selectedEmployeeId" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-cost-per-kpi>
  </div>
  <!-- Row 4 -->
  <div class="col-lg-6 col-xxl-6"
    [ngClass]="isWidgetSelectedToBeShown('kpis_count') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
    *ngIf="isWidgetSelectedToBeShown('top_five_kpis')">
    <!-- Top 5 KPI-s -->
    <app-top-kpi-stats [employeeId]="selectedEmployeeId" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-top-kpi-stats>
  </div>
  <div class="col-lg-6 col-xxl-6"
    [ngClass]="isWidgetSelectedToBeShown('top_five_kpis') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
    *ngIf="isWidgetSelectedToBeShown('kpis_count')">
    <!-- KPI Count -->
    <app-kpi-count [employeeId]="selectedEmployeeId" [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-kpi-count>
  </div>
  <!-- / Row 4 -->
</div>