<select class="form-control" (change)="changeSelectedEmployeeFromSelect($event)">
    <option [value]="employee.id" *ngFor="let employee of employees">{{ employee.first_name }} {{ employee.last_name }}</option>
</select>