<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Current Shift State</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-0">
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <div *ngIf="isError">There was a problem completing the request. Please, try later.</div>
        <div *ngIf="!getDataInProgress && !data.inShift">You are not currently in Shift.</div>
        <div class="table-responsive" *ngIf="!getDataInProgress && data.inShift">
            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead class="thead-light">
                    <th>Current State</th>
                    <th>From (IP)</th>
                    <th>Since</th>
                    <th>Duration</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="label label-lg label-success label-inline">In Shift</span>
                        </td>
                        <td>
                            {{ data?.ip }}
                        </td>
                        <td>
                            {{ sinceTime | date: 'YYYY-MM-dd H:mm' }}
                        </td>
                        <td>
                            {{ data?.howLong }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>