.kt-subheader {
    padding: 0 0 15px;
}

.card-spacer {
    &.dashboard-widget-tile {
        padding: 1rem 1.25rem !important
    }
}

.stats {
    font-family: 'Roboto';
}

.symbol {
    &.symbol-45 {
        .symbol-label {
            width: auto;
            height: 30px;
            padding: 0 10px;
        }
    }
}

.comparison {
    opacity: .7;
    font-size: 15px;
    
    &.down {
        color: #f12559;
    }

    &.up {
        color: #00ed96;
    }

    i {
        color: inherit;
    }
}