<!-- Subheader -->
<div id="kt_subheader" class="subheader py-2 py-lg-6 subheader-solid">
  <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap container-fluid">
    <div class="d-flex align-items-center flex-wrap mr-1">
      <div class="d-flex align-items-baseline flex-wrap mr-5">
        <h5 class="text-dark font-weight-bold my-1 mr-5"> Dashboard
        </h5>
      </div>
    </div>
    <div class="d-flex align-items-center"><a class="btn btn-light-success btn-sm mr-2" *ngIf="!common.isVA()" (click)="openManageWidgetsModal()">Manage Widgets</a>
    <app-date-picker (emitDateChange)="dateChanged($event)"></app-date-picker>
    </div>
  </div>
</div>
<!-- / Subheader -->
<ng-container *ngIf="common.isManager()">
  <div class="row loader-row" *ngIf="getBaseMetricsInProgress">
    <div class="col-lg-12">
      <div class="spinner spinner-primary spinner-lg mr-10"></div>
    </div>
  </div>
  <div class="row" *ngIf="!getBaseMetricsInProgress">
    <div class="col-lg-3">
      <div class="card card-custom card-stretch gutter-b stats">
        <!--begin::Body-->
        <div class="card-body d-flex flex-column p-0" style="position: relative;">
          <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
            <div class="d-flex flex-column mr-2">
              <span class="text-muted font-weight-bold">Worked</span>
              <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.worked.value }}</span>
            </div>
            <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.worked.difference)" [ngClass]="definePositionOrNagative(baseMetrics?.worked.difference)">
              <span class="symbol-label font-weight-bolder font-size-h6">
                {{ baseMetrics?.worked.difference }} 
                <span [innerHtml]="defineArrowDirection(baseMetrics?.worked.difference)"></span>
              </span>
            </span>
          </div>
        </div>
        <!--end::Body-->
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-custom card-stretch gutter-b stats">
        <!--begin::Body-->
        <div class="card-body d-flex flex-column p-0" style="position: relative;">
          <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
            <div class="d-flex flex-column mr-2">
              <span class="text-muted font-weight-bold">Activity Average</span>
              <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.activity.value }}%</span>
            </div>
            <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.activity.difference)" [ngClass]="definePositionOrNagative(baseMetrics?.activity.difference)">
              <span class="symbol-label font-weight-bolder font-size-h6">
                {{ baseMetrics?.activity.difference | number: '1.0-0' }}%
                <span [innerHtml]="defineArrowDirection(baseMetrics?.activity.difference)"></span>
              </span>
            </span>
          </div>
        </div>
        <!--end::Body-->
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-custom card-stretch gutter-b stats">
        <!--begin::Body-->
        <div class="card-body d-flex flex-column p-0" style="position: relative;">
          <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
            <div class="d-flex flex-column mr-2">
              <span class="text-muted font-weight-bold">Total Cost</span>
              <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.totalCost.value | currency }}</span>
            </div>
            <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.totalCost.difference)" [ngClass]="definePositionOrNagative(baseMetrics?.totalCost.difference)">
              <span class="symbol-label font-weight-bolder font-size-h6">
                {{ baseMetrics?.totalCost.difference | currency }}
                <span [innerHtml]="defineArrowDirection(baseMetrics?.totalCost.difference)"></span>
              </span>
            </span>
          </div>
        </div>
        <!--end::Body-->
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-custom card-stretch gutter-b stats">
        <!--begin::Body-->
        <div class="card-body d-flex flex-column p-0" style="position: relative;">
          <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
            <div class="d-flex flex-column mr-2">
              <span class="text-muted font-weight-bold">Non-KPI Events' Time</span>
              <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.nonKpi.value }}</span>
            </div>
            <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.nonKpi.difference)" [ngClass]="definePositionOrNagative(baseMetrics?.nonKpi.difference)">
              <span class="symbol-label font-weight-bolder font-size-h6">
                {{ baseMetrics?.nonKpi.difference }}
                <span [innerHtml]="defineArrowDirection(baseMetrics?.nonKpi.difference)"></span>
              </span>
            </span>
          </div>
        </div>
        <!--end::Body-->
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Row 1 -->
    <div class="col-lg-12 col-xxl-12" *ngIf="isWidgetSelectedToBeShown('recent_kpi_hit')">
      <app-recent-kpi-hit-stats [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-recent-kpi-hit-stats>
    </div>
    <!-- /Row 1 -->
    <!-- Row 2 -->
    <div class="col-lg-6 col-xxl-6"
      [ngClass]="isWidgetSelectedToBeShown('activity') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
      *ngIf="isWidgetSelectedToBeShown('productivity')">
      <app-va-time-spent [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-time-spent>
    </div>
    <div class="col-lg-6 col-xxl-6"
      [ngClass]="isWidgetSelectedToBeShown('productivity') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
      *ngIf="isWidgetSelectedToBeShown('activity')">
      <app-va-activity-percentage [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-activity-percentage>
    </div>
    <!-- / Row 2 -->
    <!-- Row 3 -->
    <div class="col-lg-6 col-xxl-6" [ngClass]="isWidgetSelectedToBeShown('alerts') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
      *ngIf="isWidgetSelectedToBeShown('latest_kpis')">
      <!-- Latest KPI-s -->
      <app-lists-widget9></app-lists-widget9>
    </div>
    <div class="col-g-6 col-xxl-6" [ngClass]="isWidgetSelectedToBeShown('latest_kpis') ? 'col-lg-6 col-xxl-6' : 'col-lg-12 col-xxl-12'"
      *ngIf="isWidgetSelectedToBeShown('alerts')">
      <app-va-alerts-component></app-va-alerts-component>
    </div>
    <!-- / Row 3 -->
    <!-- Row 5 -->
    <div class="col-lg-12" *ngIf="isWidgetSelectedToBeShown('recent_activity')">
      <app-recent-activity></app-recent-activity>
    </div>
    <div class="col-lg-12" *ngIf="isWidgetSelectedToBeShown('manager_current_state')">
      <app-manager-va-current-state></app-manager-va-current-state>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="user$ | async as _user">
  <ng-container *ngIf="common.isVA() && !_user.last_log && !widgetDownloaded">
    <div class="row">
      <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
          <div class="card-header">
            <div class="card-title">
              <h3 class="card-label">Hello</h3>
            </div>
            <div class="card-toolbar">

            </div>
          </div>
          <div class="card-body">
            <p>Please, click the button below to install the Chrome Extension which will allow you to track
              your time.</p>
            <p>Once the Chrome Extension is installed and you have tracked some time, you'll be able to see your stats
              in this section.</p>
            <a href="{{ generateExtensionDownloadLink() }}" target="_blank" class="btn btn-primary"
              (click)="downloadWidget()">Install</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="common.isVA() && (_user.last_log || widgetDownloaded)">
    <div class="row loader-row" *ngIf="getBaseMetricsInProgress">
      <div class="col-lg-12">
        <div class="spinner spinner-primary spinner-lg mr-10"></div>
      </div>
    </div>
    <div class="row" *ngIf="!getBaseMetricsInProgress">
      <div class="col-lg-4">
        <div class="card card-custom card-stretch gutter-b stats">
          <!--begin::Body-->
          <div class="card-body d-flex flex-column p-0" style="position: relative;">
            <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
              <div class="d-flex flex-column mr-2">
                <span class="text-muted font-weight-bold">Worked</span>
                <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.worked.value }}</span>
              </div>
              <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.worked.difference)"
                [ngClass]="definePositionOrNagative(baseMetrics?.worked.difference)">
                <span class="symbol-label font-weight-bolder font-size-h6">
                  {{ baseMetrics?.worked.difference }}
                  <span [innerHtml]="defineArrowDirection(baseMetrics?.worked.difference)"></span>
                </span>
              </span>
            </div>
          </div>
          <!--end::Body-->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-custom card-stretch gutter-b stats">
          <!--begin::Body-->
          <div class="card-body d-flex flex-column p-0" style="position: relative;">
            <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
              <div class="d-flex flex-column mr-2">
                <span class="text-muted font-weight-bold">Activity Average</span>
                <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.activity.value }}%</span>
              </div>
              <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.activity.difference)"
                [ngClass]="definePositionOrNagative(baseMetrics?.activity.difference)">
                <span class="symbol-label font-weight-bolder font-size-h6">
                  {{ baseMetrics?.activity.difference | number: '1.0-0' }}%
                  <span [innerHtml]="defineArrowDirection(baseMetrics?.activity.difference)"></span>
                </span>
              </span>
            </div>
          </div>
          <!--end::Body-->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-custom card-stretch gutter-b stats">
          <!--begin::Body-->
          <div class="card-body d-flex flex-column p-0" style="position: relative;">
            <div class="d-flex align-items-center justify-content-between card-spacer dashboard-widget-tile flex-grow-1">
              <div class="d-flex flex-column mr-2">
                <span class="text-muted font-weight-bold">Total Cost</span>
                <span href="#" class="text-dark-75 font-weight-bolder font-size-h3 mt-2">{{ baseMetrics?.totalCost.value |
                  currency }}</span>
              </div>
              <span class="symbol symbol-45" *ngIf="differenceAvailable(baseMetrics?.totalCost.difference)"
                [ngClass]="definePositionOrNagative(baseMetrics?.totalCost.difference)">
                <span class="symbol-label font-weight-bolder font-size-h6">
                  {{ baseMetrics?.totalCost.difference | currency }}
                  <span [innerHtml]="defineArrowDirection(baseMetrics?.totalCost.difference)"></span>
                </span>
              </span>
            </div>
          </div>
          <!--end::Body-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-va-activity [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-va-activity>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-va-current-state></app-va-current-state>
      </div>
    </div>
  </ng-container>
</ng-container>