<div class="modal-header">
    <h5 class="modal-title">Add New User</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="userForm" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="email" />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="username" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" autocomplete="off" formControlName="password" />
                </div>
                <div class="form-group">
                    <label>Repeat password</label>
                    <input type="password" class="form-control" autocomplete="off" formControlName="repeat_password" />
                </div>
                <div class="form-group" *ngIf="common.isManager()">
                    <label>Team</label>
                    <app-teams-select (teamSelected)="selectTeam($event)"></app-teams-select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="name" />
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="surname" />
                </div>
                <div class="row" *ngIf="common.isManager()">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Rate</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="rate" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="position" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Permissions</label>
                    <select class="form-control permissions" multiple data-placeholder="Choose Permissions">
                        <option *ngFor="let permission of permissionsList" [value]="permission">{{ permission }}</option>
                    </select>
                </div>
                <div class="row number-of-seats-block" *ngIf="common.isAdmin() && this.selectedPermissions.indexOf('MANAGER') > -1">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Number of Seats</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="number_of_seats" />
                        </div>
                    </div>
                </div>
                <div class="row number-of-seats-block" *ngIf="common.isAdmin() && this.selectedPermissions.indexOf('MANAGER') > -1">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Tick Period (minutes)</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="tick_period" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!createUserInProgress" (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="createUserInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!createUserInProgress" (click)="createUser()" [disabled]="userForm.invalid">Create</button>
</div>