<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Time Spent Per KPI</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2 pb-0 mt-n3">
        <div class="tab-content mt-5" id="myTabTables1">
            <!--begin::Tap pane-->
            <div class="tab-pane fade show active" id="kt_tab_pane_1_3" role="tabpanel"
                aria-labelledby="kt_tab_pane_1_3">
                <!--begin::Table-->
                <div class="row loader-row" *ngIf="getDataInProgress">
                    <div class="col-lg-12">
                        <div class="spinner spinner-primary spinner-lg mr-10"></div>
                    </div>
                </div>
                <div *ngIf="isError">There was a problem completing the request. Please, try later.</div>
                <div class="no-data" *ngIf="data.length === 0 && !getDataInProgress && !isError">No data.</div>
                <div class="table-responsive" *ngIf="!getDataInProgress && data.length > 0 && !isError">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                            <tr>
                                <th class="p-0 min-w-200px"></th>
                                <th class="p-0 min-w-100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kpi of data;">
                                <td class="pl-0">
                                    <span
                                        class="text-dark font-weight-bolder mb-1 font-size-lg">{{ kpi.kpi_name }}</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="text-muted mr-2 font-weight-bold">{{ kpi.average }}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
        </div>
    </div>
</div>