<div class="card card-custom card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="font-weight-bolder text-dark">Latest KPI-s</span>
      <!-- <span class="text-muted mt-3 font-weight-bold font-size-sm"
        >890,344 Total</span
      > -->
    </h3>
    <div class="card-toolbar">
      <div
        ngbDropdown
        placement="bottom-right"
        class="dropdown dropdown-inline"
        title="Quick actions"
      >
      </div>
    </div>
  </div>
  <!-- Body -->
  <div class="card-body pt-4">
    <div class="timeline timeline-6">
      <!--begin::Item-->
      <div class="timeline-item align-items-start" *ngFor="let kpi of data; let i = index">
        <!--begin::Label-->
        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
          {{ common.convertDateIntoLocalTimeZone(kpi.server_time) }}
        </div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless icon-xl" [ngClass]="returnColourName(i)"></i>
        </div>
        <!--end::Badge-->

        <!--begin::Text-->
        <div class="font-weight-bolder text-dark-75 pl-3 font-size-lg">
          {{ kpi.action }}
        </div>
        <!--end::Text-->
      </div>
      <!--end::Item-->
    </div>
  </div>
</div>
