<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="userForm" novalidate>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control" formControlName="surname" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" formControlName="username" />
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="common.isManager()">
                   <div class="col-lg-6">
                        <div class="form-group">
                            <label>Rate</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="rate" />
                        </div>
                   </div> 
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" class="form-control" autocomplete="off" formControlName="position" />
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="common.isManager()">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Team</label>
                            <app-teams-select [selectedTeam]="user.team_id" (teamSelected)="selectTeam($event)"></app-teams-select>
                        </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="common.isAdmin() && selectedPermissionsList.indexOf('MANAGER') > -1">
                    <label>Number of Seats</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="number_of_seats" />
                </div>
                <div class="form-group" *ngIf="common.isAdmin() && selectedPermissionsList.indexOf('MANAGER') > -1">
                    <label>Tick Period</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="tick_period" />
                </div>
                <div class="form-group">
                    <label>Permissions</label>
                    <select class="form-control permissions" multiple data-placeholder="Choose Permissions">
                        <option *ngFor="let permission of permissionsList" [selected]="selectedPermissionsList.indexOf(permission) > -1" [value]="permission">{{ permission }}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!editUserInProgress" (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="editUserInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!editUserInProgress" (click)="editUser()" [disabled]="userForm.invalid">Save</button>
</div>