<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Recent Activity</span>
        </h3>
        <div class="card-toolbar">
            <!-- <a [routerLink]="['/screenshots']" class="view-all-logs">View all &gt;</a> -->
        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <div class="employees-list-container">
            <div *ngIf="data.length === 0">No Screenshots.</div>
            <div class="row">
                <ul *ngFor="let chunk of data">
                    <li *ngFor="let screenshot of chunk">
                        <span class="activity" [ngClass]="definePercentageColor(screenshot.activity_percentage)">{{
                            screenshot.activity_percentage || 0 }}%</span>
                        <div class="image-container">
                            <a href="{{ returnFullImageUrl(screenshot.url) }}"
                                [attr.title]="common.convertDateIntoLocalTimeZone(screenshot.server_time)" data-lightbox="image">
                                <img src="{{ returnFullImageUrl(screenshot.url) }}" alt="" />
                            </a>
                        </div>
                        <span class="date-time">{{ common.convertDateIntoLocalTimeZone(screenshot.server_time) }}</span>
                    </li>
                </ul>
            </div>
            <!-- <div class="row">
                <ul>
                    <li>
                        <span class="activity green">75%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity yellow">45%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity yellow">45%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <span class="activity green">75%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity yellow">45%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity red">12%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                    <li>
                        <span class="activity yellow">45%</span>
                        <div class="image-container">
                            <img src="../../../../../../../assets/media/dummy/screen.png" alt="">
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>