<div class="login-form login-forgot">
    <!--begin::Title-->
    <div class="mb-20">
        <h3>Reset Your Password</h3>
        <div class="text-muted font-weight-bold">Please, enter your new password.</div>
    </div>
    <!--end::Title-->

    <!--begin::Form-->
    <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
        [formGroup]="passwordResetForm" (ngSubmit)="submit()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
        <!-- begin::Alert error-->
        <ng-container *ngIf="errorState === errorStates.HasError">
            <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                <div class="alert-text">The email detail is incorrect</div>
            </div>
        </ng-container>
        <!-- end::Alert error-->

        <!--begin::Form group-->
        <div class="form-group mb-5 login-form-field">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="password" name="password"
                placeholder="New Password" autocomplete="off" formControlName="password" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'New Password is required',
                      control: passwordResetForm.controls['password']
                    }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'New Password should have at least 3 symbols',
                      control: passwordResetForm.controls['password']
                    }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'New Password should have maximum 100 symbols',
                      control: passwordResetForm.controls['password']
                    }"></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group mb-5 login-form-field">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="password" name="password"
                placeholder="Repeat New Password" autocomplete="off" formControlName="repeat_password" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Repeat New Password is required',
                      control: passwordResetForm.controls['repeat_password']
                    }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'Repeat Password should have at least 3 symbols',
                      control: passwordResetForm.controls['repeat_password']
                    }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'Repeat Password should have maximum 100 symbols',
                      control: passwordResetForm.controls['repeat_password']
                    }"></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap flex-center mt-10">
            <button type="submit" id="kt_login_forgot_submit"
                class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2"
                [disabled]="passwordResetForm.controls['password'].invalid">
                Submit
            </button>
            <a routerLink="/auth/login" id="kt_login_forgot_cancel"
                class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">
                Cancel
            </a>

            <ng-container *ngIf="isLoading$ | async">
                <span class="spinner spinner-primary ml-5"></span>
            </ng-container>
        </div>
        <!--end::Form group-->
        <div></div>
    </form>
    <!--end::Form-->

    <ng-container *ngIf="errorState === errorStates.NoError">
        <div class="card card-custom bgi-no-repeat gutter-b" style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      ">
            <!--begin::Body-->
            <div class="card-body d-flex align-items-center">
                <div class="py-2">
                    <h3 class="text-white font-weight-bolder mb-3">Thank you.</h3>
                    <p class="text-white font-size-lg">
                        If the email you've entered is correct, a message with password recovery instruction<br />
                        will be sent to the email address you've specified.<br />
                    </p>
                    <a routerLink="/auth/login" class="swal2-confirm btn font-weight-bold btn-light-primary">
                        Ok, got it!
                    </a>
                </div>
            </div>
            <!--end::Body-->
        </div>
    </ng-container>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </ng-container>
</ng-template>