<a id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="left"
    class="btn btn-light-primary btn-sm font-weight-bold mr-2 cursor-pointer"><span
        id="kt_dashboard_daterangepicker_title" class="opacity-60 font-weight-bold mr-2">Today:</span><span
        id="kt_dashboard_daterangepicker_date" class="font-weight-bold">Jul 1</span></a>