<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
    <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('assets/media/bg/bg-3.jpg');">
      <div class="login-form text-center p-7 position-relative overflow-hidden">
        <!--begin::Login Header-->
        <div class="d-flex flex-center mb-15">
          <a href="#">
            <img src="{{ logoUrl() }}" class="max-h-75px" alt="" />
          </a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!--end::Login-->
</div>