<div class="card card-custom card-stretch gutter-b">
    <app-widget-blocker-common></app-widget-blocker-common>
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Cost per KPI</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <!-- Column chart -->
        <div id="costPerKPIChart"></div>
        <!-- /Column chart -->

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">KPI</th>
                    <th scope="col">Count</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Listing Items</td>
                    <td>40</td>
                    <td>
                        $0.20
                    </td>
                </tr>
                <tr>
                    <td>Order Fulfillment</td>
                    <td>11</td>
                    <td>
                        $0.30
                    </td>
                </tr>
                <tr>
                    <td>Messages</td>
                    <td>10</td>
                    <td>
                        $0.18
                    </td>
                </tr>
                <tr>
                    <td>Cases</td>
                    <td>2</td>
                    <td>
                        $0.50
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>