table {
    tr {
        td {
            padding: 0;
        }
    }
}

.screenshot {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateY(-50%);
        top: 0
    }
}

.view-all-logs {
    position: absolute;
    right: 0;
}

ul {
    margin-top: 10px;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    padding-left: 14px;
    margin-bottom: 25px;

    li {
        display: block;
        flex: 0 1 auto;
        width: 150px;
        height: 85px;
        position: relative;

        .activity {
            position: absolute;
            top: -11px;
            right: -13px;
            z-index: 2;
            -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
            box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
            border-radius: 25px;
            padding: 3px 6px;
            font-size: 12px;
            display: inline-block;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
        }

        .image-container {
            width: 150px;
            height: 85px;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.employees-list-container {
    overflow-x: auto;
}

.date-time {
    margin-bottom: 10px;
    color: #ccc;
    font-size: 12px;
}