<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Recent Activity</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <div class="employees-list-container">
            <!-- Employee -->
            <ng-container *ngFor="let employee of data">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-borderless table-vertical-center float-left">
                            <thead>
                                <tr>
                                    <th class="p-0 w-50px"></th>
                                    <th class="p-0 min-w-150px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="symbol symbol-40 symbol-light mr-2 mt-2">
                                            <span class="symbol-label">
                                                <img src="{{ employee.image_url || constants.IMAGE_PLACEHOLDER }}"
                                                    class="h-50 align-self-center" alt="">
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-dark font-weight-bolder mb-1 font-size-lg">{{ employee.firstName }} {{ employee.lastName }}</span>
                                        <!-- <a href="javascript:;" class="view-all-logs">View all &gt;</a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li *ngFor="let screenshot of employee.screenshots">
                            <span class="activity" [ngClass]="definePercentageColor(screenshot.activity)" >{{ screenshot.activity || 0 }}%</span>
                            <div class="image-container">
                                <a href="{{ returnFullImageUrl(screenshot.url) }}" [attr.title]="common.convertDateIntoLocalTimeZone(screenshot.server_time)" data-lightbox="image">
                                    <img src="{{ returnFullImageUrl(screenshot.url) }}" alt="" />
                                </a>
                            </div>
                            <span class="date-time">{{ common.convertDateIntoLocalTimeZone(screenshot.server_time) }}</span>
                        </li>
                    </ul>
                </div>
                <!-- / Employee -->
            </ng-container>
        </div>
    </div>
</div>