<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="getTeamEmployeesInProgress || getEmployeesInProgress"></div>
            <ng-container *ngIf="!getTeamEmployeesInProgress">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Employees</h3>
                    </div>
                    <div class="card-toolbar">
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="!getTeamEmployeesInProgress && users.length === 0">No Employees in this Team.</div>
                    <div class="table-wrapper" *ngIf="users.length > 0">
                        <div class="block-title">Current Employees in this Team</div>
                        <a href="javascript:;" (click)="removeEmployeesFromTeam()" class="btn btn-sm btn-danger mb-5" *ngIf="usersToRemoveFromTeam.length > 0 && !removeEmployeesFromTeamInProgress">Remove Selected From Team</a>
                        <table class="table table-hover" #mf="mfDataTable" [mfData]="users"
                            (mfSortOrderChange)="sortOrderChange($event)" (mfSortByChange)="sortByChange($event)"
                            [mfRowsOnPage]="10">
                            <thead class="thead-light">
                                <tr>
                                    <th width="20px"></th>
                                    <th>
                                        <mfDefaultSorter by="first_name">Name <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('first_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="last_name">Surname <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('last_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('email')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="user_name">Username <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('user_name')"></i></mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data; let i=index">
                                    <td>
                                        <label class="checkbox checkbox-lg checkbox-inline" *ngIf="!isEmployeeFromDefaultTeam(user)">
                                            <input type="checkbox" (change)="toggleEmployeeInList(user.id, 'remove')">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td>
                                        {{ user.first_name }}
                                    </td>
                                    <td>
                                        {{ user.last_name }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.user_name }}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="removeEmployeesFromTeamInProgress"></div>
                    </div>
                    <div class="table-wrapper" *ngIf="usersWithoutTeam.length > 0">
                        <div class="block-title">Employees not in any Team</div>
                        <a href="javascript:;" (click)="addEmployeesToTeam()" class="btn btn-sm btn-success mb-5" *ngIf="usersToAddToTeam.length > 0 && !addEmployeesToTeamInProgress">Add Selected to Team</a>
                        <table class="table table-hover" #mf="mfDataTable" [mfData]="usersWithoutTeam" (mfSortOrderChange)="sortOrderChange($event)"
                            (mfSortByChange)="sortByChange($event)" [mfRowsOnPage]="10">
                            <thead class="thead-light">
                                <tr>
                                    <th width="20px"></th>
                                    <th>
                                        <mfDefaultSorter by="first_name">Name <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('first_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="last_name">Surname <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('last_name')"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="email">Email <i class="fa l-m-5" [ngClass]="returnSortOrderArrow('email')"></i>
                                        </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="user_name">Username <i class="fa l-m-5"
                                                [ngClass]="returnSortOrderArrow('user_name')"></i></mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data; let i=index">
                                    <td>
                                        <label class="checkbox checkbox-lg checkbox-inline">
                                            <input type="checkbox" (change)="toggleEmployeeInList(user.id, 'add')">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td>
                                        {{ user.first_name }}
                                    </td>
                                    <td>
                                        {{ user.last_name }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.user_name }}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="spinner spinner-primary spinner-lg mr-15" *ngIf="addEmployeesToTeamInProgress"></div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>