<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Currently Active VA-s</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-0">
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <div *ngIf="isError">There was a problem completing the request. Please, try later.</div>
        <div *ngIf="!getDataInProgress && data.length === 0">No VA is currently in shift.</div>
        <div class="table-responsive" *ngIf="!getDataInProgress && data.length > 0">
            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead class="thead-light">
                    <th style="width:50px;"></th>
                    <th class="pl-0">VA</th>
                    <th>From (IP)</th>
                    <th>Since</th>
                    <th>Duration</th>
                </thead>
                <tbody>
                    <tr *ngFor="let datum of data;">
                        <td class="pl-0 py-5">
                            <div class="symbol symbol-50 symbol-light mr-2">
                                <span class="symbol-label">
                                    <img src="{{ datum.avatar || constants.IMAGE_PLACEHOLDER }}" class="h-75 align-self-end" alt="">
                                </span>
                            </div>
                        </td>
                        <td class="pl-0">
                            <span class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ datum?.firstName }} {{datum?.lastName }}</span>
                        </td>
                        <td>
                            {{ datum?.ip }}
                        </td>
                        <td>
                            {{ convertSinceTime(datum?.since) | date: 'YYYY-MM-dd H:mm' }}
                        </td>
                        <td>
                            {{ datum?.howLong }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>