<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <!-- <div class="spinner spinner-primary spinner-lg mr-15"></div> -->
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Finance</h3>
                    </div>
                    <div class="card-toolbar">
                        <app-pages-date-picker (emitDateChange)="dateChanged($event)"></app-pages-date-picker>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row loader-row" *ngIf="getBaseMetricsInProgress">
                        <div class="col-lg-12">
                            <div class="spinner spinner-primary spinner-lg mr-10"></div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!getBaseMetricsInProgress">
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 26-->
                            <div class="card card-custom bg-light-success card-stretch gutter-b">
                                <!--begin::ody-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-success">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Group.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path
                                                    d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                                    fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                <path
                                                    d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                                    fill="#000000" fill-rule="nonzero"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">{{ baseMetrics.employeesWorked }}</span>
                                    <span class="font-weight-bold text-muted font-size-sm">VA-s Worked</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 26-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 27-->
                            <div class="card card-custom bg-light-info card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-info">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Media/Equalizer.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">{{ baseMetrics.recordedTime }}</span>
                                    <span class="font-weight-bold text-muted font-size-sm">Hours</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 27-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 28-->
                            <div class="card card-custom bg-light-warning card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-warning svg-icon-2x">
                                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Shopping/Money.svg--><svg
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path
                                                    d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z"
                                                    fill="#000000" opacity="0.3"
                                                    transform="translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) " />
                                                <path
                                                    d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z"
                                                    fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">{{ baseMetrics.cost | currency }}</span>
                                    <span class="font-weight-bold text-muted font-size-sm">Cost</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stat: Widget 28-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <app-cost-per-team [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-cost-per-team>
                        </div>
                        <div class="col-lg-6">
                            <app-cost-per-va [startDate]="selectedStartDate" [endDate]="selectedEndDate"></app-cost-per-va>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <app-widget-blocker-common></app-widget-blocker-common>
            <!-- <div class="spinner spinner-primary spinner-lg mr-15"></div> -->
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Payments</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="month-selector">
                            <span class="left button">
                                <a href="javascript:;" (click)="monthSelector('previous')">
                                    <i class="ki ki-arrow-back"></i>
                                </a>
                            </span>
                            <span class="month-label">
                                {{ currentMonthDisplayName }}, {{ currentYear }}
                            </span>
                            <span class="right button" (click)="monthSelector('next')">
                                <a href="javascript:;">
                                    <i class="ki ki-arrow-next"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-pane fade active show" id="kt_tab_pane_6_1" role="tabpanel"
                        aria-labelledby="kt_tab_pane_6_1">
                        <!--begin::Table-->
                        <div class="table-responsive">
                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                                <thead>
                                    <tr class="text-left text-uppercase">
                                        <th class="pl-0 w-50px"></th>
                                        <th class="pl-0 min-w-150px">Name, Surname</th>
                                        <th class="pl-0 min-w-70px">Unpaid Shifts</th>
                                        <th class="pl-0 min-w-70px">Cost</th>
                                        <th class="pl-0 min-w-70px">Time Tracked</th>
                                        <th class="pl-0 min-w-50px">Last Payment</th>
                                        <th class="pl-0 min-w-50px"></th>
                                        <th class="pl-0 min-w-50px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                <span class="symbol-label">
                                                    <img src="https://media.istockphoto.com/photos/close-up-portrait-of-brunette-woman-picture-id1154642632?k=6&m=1154642632&s=612x612&w=0&h=YTiNxRGupHJpMqQRu7Xh-U976mur5fp-cM_WEczpx04="
                                                        class="h-75 align-self-end" alt="">
                                                </span>
                                            </div>
                                        </td>
                                        <td class="pl-0">
                                            <a href="#"
                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Nikkie</a>
                                            <span class="text-muted font-weight-bold d-block">HTML, CSS Coding</span>
                                        </td>
                                        <td class="pl-0">1</td>
                                        <td class="pl-0">
                                            <span
                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">$13.8</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder">08:03</span>
                                        </td>
                                        <td class="pl-0">
                                            20.06.2021
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-info btn-sm font-weight-bolder font-size-sm">Generate
                                                Invoice</a>
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-success btn-sm font-weight-bolder font-size-sm">Pay</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                <span class="symbol-label">
                                                    <img src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                                                        class="h-75 align-self-end" alt="">
                                                </span>
                                            </div>
                                        </td>
                                        <td class="pl-0">
                                            <a href="#"
                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Ramon</a>
                                            <span class="text-muted font-weight-bold d-block">ReactJS Developer</span>
                                        </td>
                                        <td class="pl-0">1</td>
                                        <td class="pl-0">
                                            <span
                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">$13.6</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder">07:56</span>
                                        </td>
                                        <td class="pl-0">
                                            20.06.2021
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-info btn-sm font-weight-bolder font-size-sm">Generate
                                                Invoice</a>
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-success btn-sm font-weight-bolder font-size-sm">Pay</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                <span class="symbol-label">
                                                    <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                                        class="h-75 align-self-end" alt="">
                                                </span>
                                            </div>
                                        </td>
                                        <td class="pl-0">
                                            <a href="#"
                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Em</a>
                                            <span class="text-muted font-weight-bold d-block">UI/UX Designer</span>
                                        </td>
                                        <td class="pl-0">1</td>
                                        <td class="pl-0">
                                            <span
                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">$13.5</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder">07:50</span>
                                        </td>
                                        <td class="pl-0">
                                            20.06.2021
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-info btn-sm font-weight-bolder font-size-sm">Generate
                                                Invoice</a>
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-success btn-sm font-weight-bolder font-size-sm">Pay</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                <span class="symbol-label">
                                                    <img src="https://us.123rf.com/450wm/dolgachov/dolgachov1505/dolgachov150500234/39648705-picture-of-smiling-handsome-businessman-in-office.jpg?ver=6"
                                                        class="h-75 align-self-end" alt="">
                                                </span>
                                            </div>
                                        </td>
                                        <td class="pl-0">
                                            <a href="#"
                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Glean</a>
                                            <span class="text-muted font-weight-bold d-block">Successful Fellas</span>
                                        </td>
                                        <td class="pl-0">1</td>
                                        <td class="pl-0">
                                            <span
                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">$13.9</span>
                                        </td>
                                        <td class="pl-0">
                                            <span class="font-weight-bolder">08:10</span>
                                        </td>
                                        <td class="pl-0">
                                            20.06.2021
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-info btn-sm font-weight-bolder font-size-sm">Generate
                                                Invoice</a>
                                        </td>
                                        <td class="text-right pr-0">
                                            <a href="#"
                                                class="btn btn-success btn-sm font-weight-bolder font-size-sm">Pay</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>