.month-selector {
    .button {
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        color: #7E8299;
        cursor: pointer;

        a {
            outline: none !important;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.25rem;
            min-width: 2.25rem;
            padding: 0.5rem;
            text-align: center;
            position: relative;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
            border-radius: 0.42rem;
            border: 0;
            background-color: #F3F6F9;
            display: inline-block;

            &:hover {
                background-color: #3699FF;
                color: #fff;

                i {
                    color: inherit;
                }
            }
        }
    }

    .month-label {
        padding: 0 5px;
    }
}