<div class="row productivity-section">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b example example-compact">
            <ng-container>
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Screenshots</h3>
                    </div>
                    <div class="card-toolbar">
                        <app-employees-select class="margin-right-15" (emitEmployeeChange)="selectEmployee($event)"></app-employees-select>
                        <!-- <a href="javascript:;" class="btn btn-success btn-sm filters-button">Filters</a> -->
                        <app-pages-date-picker (emitDateChange)="dateChanged($event)"></app-pages-date-picker>
                    </div>
                </div>
                <div class="card-body n-b-p">
                    <div class="employees-list-container">
                        <!-- Employee -->
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-borderless table-vertical-center float-left">
                                    <thead>
                                        <tr>
                                            <th class="p-0 min-w-150px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-dark mb-1">10:00 am - 11:00 am <span class="text-muted p-l-40">total time worked: <span class="text-dark">0:29:22</span></span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        <div class="row loader-row" *ngIf="getDataInProgress">
                            <div class="col-lg-12">
                                <div class="spinner spinner-primary spinner-lg mr-10"></div>
                            </div>
                        </div>
                        <div *ngIf="data.length === 0 && !getDataInProgress">No Screenshots.</div>
                        <div class="row" *ngIf="data.length > 0 && !getDataInProgress">
                            <ul *ngFor="let chunk of data">
                                <li *ngFor="let screenshot of chunk">
                                    <span class="activity" [ngClass]="definePercentageColor(screenshot.activity_percentage)">{{
                                        screenshot.activity_percentage || 0 }}%</span>
                                    <div class="image-container">
                                        <a href="{{ returnFullImageUrl(screenshot.url) }}"
                                            [attr.title]="common.convertDateIntoLocalTimeZone(screenshot.server_time)" data-lightbox="image">
                                            <img src="{{ returnFullImageUrl(screenshot.url) }}" alt="" />
                                        </a>
                                    </div>
                                    <span class="date-time">{{ common.convertDateIntoLocalTimeZone(screenshot.server_time) }}</span>
                                </li>
                            </ul>
                        </div>
                        <!-- / Employee -->
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>