<div class="modal-header">
    <h5 class="modal-title">Allowed Websites</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="websiteForm" novalidate>
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label>Web Site</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="website" />
                </div>
            </div>
            <div class="col-lg-2">
            <button class="btn btn-success add-button" [disabled]="websiteForm.invalid" (click)="addWebSiteToList()">Add</button>
            </div>
        </div>
        <div *ngIf="websitesToAdd.length === 0">No allowed web-sites are currently set.</div>
        <div class="table-wrapper websites-table" *ngIf="websitesToAdd.length > 0">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th width="20px"></th>
                        <th>
                            Website
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let website of websitesToAdd">
                        <td>
                            <label class="checkbox checkbox-lg checkbox-inline">
                                <input type="checkbox" (change)="selectWebSiteToRemove(website, 'remove')">
                                <span></span>
                            </label>
                        </td>
                        <td>
                            {{ website }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="javascript:;" class="btn btn-sm btn-danger mb-5" (click)="removeWebSitesFromList()" *ngIf="websitesToRemove.length > 0">Remove Selected</a>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" *ngIf="!actionInProgress"
        (click)="closeModal()">Close</button>
    <div class="spinner spinner-primary spinner-lg mr-10" *ngIf="actionInProgress"></div>
    <button type="button" class="btn btn-primary font-weight-bold" *ngIf="!actionInProgress" (click)="save()"
        [disabled]="websitesToAdd.length === 0">Save</button>
</div>