<div class="card card-custom card-stretch gutter-b">
    <!-- Header -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Time Spent on Websites</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">&nbsp;</span>
        </h3>
        <div class="card-toolbar">

        </div>
    </div>
    <!-- Body -->
    <div class="card-body pt-4">
        <div class="row loader-row" *ngIf="getDataInProgress">
            <div class="col-lg-12">
                <div class="spinner spinner-primary spinner-lg mr-10"></div>
            </div>
        </div>
        <!-- Column chart -->
        <div id="vaTimeSpentOnWebsites" [hidden]="getDataInProgress || data.length === 0 || isError"></div>
        <div *ngIf="!getDataInProgress && data.length === 0 && !isError">No Data.</div>
        <div *ngIf="isError">There was a problem completing the request. Please, try later.</div>
        <!-- /Column chart -->
        <ul *ngIf="!getDataInProgress">
            <li *ngFor="let website of data; let i=index;" [style.color]="colors[i]">
                <h3>{{ website.value | number: '1.0-1' }}%</h3>
                <span title="{{ website.url }}">{{ website.url | ellipsis:20 }}</span>
            </li>
            
        </ul>
    </div>
</div>