<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Activity</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
        </h3>
        <div class="card-toolbar">
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2 pb-0 mt-n3">
        <div class="tab-content">
            <!--begin::Tap pane-->
            <div class="row loader-row" *ngIf="getDataInProgress">
                <div class="col-lg-12">
                    <div class="spinner spinner-primary spinner-lg mr-10"></div>
                </div>
            </div>
            <div class="no-data" *ngIf="data.length === 0 && !getDataInProgress">No data.</div>
            <div class="tab-pane fade show active" *ngIf="!getDataInProgress" role="tabpanel">
                <!--begin::Table-->
                <div class="table-responsive" *ngIf="data.length > 0">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                            <tr>
                                <th class="p-0 w-50px"></th>
                                <th class="p-0 min-w-200px"></th>
                                <th class="p-0 min-w-100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td class="pl-0 py-5">
                                    <div class="symbol symbol-50 symbol-light mr-2">
                                        <span class="symbol-label">
                                            <img src="{{ item.image_url || constants.IMAGE_PLACEHOLDER }}"
                                                class="h-75 align-self-end" alt="">
                                        </span>
                                    </div>
                                </td>
                                <td class="pl-0">
                                    <span
                                        class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ item.firstName }} {{ item.lastName }}</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column w-100 mr-2">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="text-muted mr-2 font-size-sm font-weight-bold">{{ item.value }}%</span>
                                        </div>
                                        <div class="progress progress-xs w-100">
                                            <div class="progress-bar" [ngClass]="definePercentageColor(item.value)" role="progressbar" [style.width.%]="item.value"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
        </div>
    </div>
</div>